<h1>All the articles</h1> <h1><%= link_to "+", new_article_path, style:"text-decoration:none; color:black" %></h1>

<% @articles.each do |article| %>
  <%= link_to article_path(article) do %>
    <h2><em><%= article.title %></em></h2> <%= link_to  "X", article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?", style:"text-decoration:none; color:black;"} %>
  <% end %>
  <p><%= article.content %></p>
<% end %>
